body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: darkgrey;
  color: #808080;
  margin-left: 10px;
  text-decoration: none;
  padding: 10px;
  width: 500px;
}
.DogIndex {
  position: absolute;
  left: 10px;
}
.App {
  position: absolute;
  left: 10px;
}
#newDogAdd {
  position: absolute;
  left: 400px;
  top: 0px;
  border: 2px solid black;
  width: 200px;
  padding: 10px;
}
#individualDog {
  border: 1px solid black;
}
